/*/////UNIVERSAL/////*/


*,
*:after,
*:before {
 box-sizing: border-box;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

p,
h1 {
  margin: 0;
}

/*/////HEADER/////*/

header {
  background-color: #312A2F;
  display: flex;
  height: 75px;
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  align-self: center;
  color: #ADA6CA;
  font-weight: 800;
  cursor: default;
}

h1 span {
  color: #fff;
  font-weight: 800;
}

.header-search {
  align-self: center;
  display: flex;
  margin-left: auto; 
}

.search-input {
  border: solid 2px #ACAAB5;
  border-radius: 5px 0 0 5px;
  padding: 5px;
}

.search-btn {
  background-color: #ACAAB5;
  border-color: #ACAAB5;
  border-radius: 0 5px 5px 0;
  color: #fff;
  padding: 6px;
}

.search-btn:hover {
  background-color: #524649;
  border-color: #524649;
  cursor: pointer;
}

/*/////IDEA FORM/////*/

.form-section {
  background-color: #EEF2F2;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.new-idea-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-label {
  font-size: 18px;
}

#title-input {
  border-radius: 5px;
  border: #D4D2D8 2px solid;
  height: 40px;
  margin: 10px;
  padding: 5px;
}

#body-input {
  border-radius: 5px;
  border: #D4D2D8 2px solid;
  margin: 10px;
  padding: 5px;

}

.save-btn {
  background-color: #6e646b;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  margin-top: 10px;
  padding: 10px;
}

/*filter-buttons*/

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.filter-btn {
  background-color: #6e646b;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  height: 35px;
  margin: 10px;
  width: 170px;
}

.filter-btn:hover,
.save-btn:hover {
  background-color: #524649;
  cursor: pointer;
}

/*/////CARD SECTION/////*/


/*card styles*/

.card-section {
  align-items: center;
  background-color: #FBFDFD;
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
}

.card-main {
  padding: 0 10px 10px
}

.card-title {
  color: #6e646b;
  font-weight: 800;
  margin: 10px 0;
  padding: 5px;
}

.card-body {
  color: #7c7879;
  font-size: 18px;
  padding: 5px;
}

.card-footer {
  align-content: center;
  border-top: solid 2px #DAD9DE;
  display: flex;
  padding: 5px;
  position: relative;
}

.quality-label {
  color: #7c7879;
  font-weight: 800;
  position: relative;
  top: 5px;
}

.card-quality {
  color: #7c7879;
  font-weight: 800;
}

.card-btn {
  cursor: pointer;
  height: 30px;
  padding: 2px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background: none;
  outline: none;
}

.card-btn:active {
  border: 2px solid #7c7879;

}

#downvote-btn {
  margin: 0 10px;
}

#delete-btn {
  bottom: 5px;
  position: absolute;
  right: 5px;
}

.idea-card {
  border-radius: 5px;
  border: solid 2px #DAD9DE;
  margin-bottom: 20px;
  max-width: 500px;
  width: 50%;
}